*:focus { border: 0; outline: 0; }
.wrapper {
  margin: 50px auto;
  width: 100px;
}
.button-block {
  width: 70px;
  height: 70px;
  border-radius: 100%; /* TODO: prefix */
  margin: 0 auto;
  position: relative;
  display: block;
  position: relative;
  border: 35px solid #F0544E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -webkit-transition: border 600ms ease-in-out;
  -moz-transition: border 600ms ease-in-out;
  -ms-transition: border 600ms ease-in-out;
  -o-transition: border 600ms ease-in-out;
  transition: border 600ms ease-in-out;
}
.button-block button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;
  margin: -15px 0 0 -15px;
  cursor: pointer;
}
.mark {
  background-color: #fff;
  position: absolute;
  height: 30px;
  width: 4px;
  display: block;
  top: 0;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.mark.x  { 
  right: 14px; 
  transform:rotate(45deg); /* TODO: prefix */
}
.mark.xx { 
  left: 12px; 
  transform:rotate(-45deg); /* TODO: prefix */
}
.button-block.canceled  {
  border-width: 4px;
  border-color: #1ABC9C;
}
.button-block.canceled .mark { background-color: #1ABC9C; }
.button-block.canceled .mark.x {
  right: 5px;
  top: -3px;
  height: 35px;
}
.button-block.canceled .mark.xx {
  height: 15px;
  top: 15px;
  left: 5px;
}